.section{overflow: hidden;}
.visualWrap{position: relative;background: #000;}
.visualSwiper{width: 100%;min-height: 800px;height: 100vh;}
.visualSwiper .swiper-wrapper{display: flex !important;}
.visualSwiper .swiper-slide{position: relative;height: 100%;}
.visualSwiper .visualBg{position: relative;width: 100vw;height: 100vh;min-height: 800px;}
.visualSwiper .visualBg img{position: absolute;left: 0;top: 0;width: 100%;height: 100%;object-fit: cover;transform: scale(1.1);}
.visualSwiper .visualText{position: absolute;top: 0;width: 100%;height: 100%;display: flex;flex-wrap: wrap;flex-direction: column;justify-content: center;align-items: center;gap: 32px;box-sizing: border-box;z-index: 10;}
.visualSwiper .visualText p{transform: translateY(1rem);-webkit-transform: translateY(1rem);-moz-transform: translateY(1rem);-ms-transform: translateY(1rem);-o-transform: translateY(1rem);opacity: 0;transition: 1.1s;-webkit-transition: 1.1s;-moz-transition: 1.1s;-ms-transition: 1.1s;-o-transition: 1.1s;transition-delay: 0.8s;color: #FFF;font-size: 40px;font-weight: 700;line-height: 150%;text-align: center;}
.visualSwiper .visualText p.delay{transition-delay: 1.3s;font-size: 72px;font-weight: 800;letter-spacing: -0.5px;}
.visualControl{position: absolute;bottom: 90px;width: 100%;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;gap: 8px;box-sizing: border-box;z-index: 10;}
.visualControl .progressBar{position: relative;width: 170px;height: 8px;border-radius: 10px;background: #FFF;overflow: hidden;}
.visualControl .progressBar .progress{display: block;width: 0%;height: 100%;background: #0083CA;transition-property: width;transition-timing-function: linear;}
.visualControl button{position: initial;top: initial;right: initial;left: initial;margin-top: initial;}
.visualWrap .swiper-button-prev, .visualWrap .swiper-button-next{left: 8%;width: 100px;height: 100px;background-image: url(../images/main/icon_left_white.svg);background-position: center;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.visualWrap .swiper-button-next{left: auto;right: 8%;transform: rotate(180deg);}
.visualWrap .swiper-button-prev:after, .visualWrap .swiper-button-next:after{display: none;}
.visualControl .swiper-button-autoplay{width: 24px;height: 24px;background-image: url(../images/main/icon_stop_white.svg);background-position: center;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.visualControl .swiper-button-autoplay.on{background-image: url(../images/main/icon_start_white.svg);}
.visualControl .swiper-pagination-current{color: #0083CA;font-size: 20px;font-weight: 700;line-height: 150%;}
.visualControl .swiper-pagination-total{color: #FFF;font-size: 20px;font-weight: 700;line-height: 150%;}
.visualSwiper .swiper-slide-active .visualBg img{transform: scale(1);transition: transform 4s;}
.visualSwiper .swiper-slide:not(.swiper-slide-active) img{opacity: 0;}
.visualSwiper .swiper-slide-active .visualText p{opacity: 1;transform: none;-webkit-transform: none;-moz-transform: none;-ms-transform: none;-o-transform: none;}
.visualSwiper .swiper-slide .visualText p{opacity: 0;transform: translateY(1rem);transition: opacity 1s ease, transform 1.5s ease;}
.visualSwiper .swiper-slide.swiper-slide-play .visualText p{opacity: 1;transform: none;-webkit-transform: none;-moz-transform: none;-ms-transform: none;-o-transform: none;}
.visualSwiper .swiper-slide.swiper-slide-play .visualText p.delay{transition-delay: 0.5s;}

#section2{position: relative;overflow: hidden;padding: 160px 8%;background-color: #FFF;box-sizing: border-box;}
.serviceGroup{}
.serviceGroup:before{content: "";position: absolute;right: -289px;top: -545px;width: 1100px;height: 1100px;background-image: url(../images/main/bg-circle.png);background-position: center;background-size: 100%;background-repeat: no-repeat;-webkit-animation: rotating 5s linear infinite;animation: rotating 5s linear infinite;}
.serviceGroup .titleGroup{position: relative;}
.serviceGroup .titleGroup .sm{color: #888;font-size: 20px;font-weight: 700;line-height: 150%;}
.serviceGroup .titleGroup .lg{color: #BCBCBC;font-size: 68px;font-weight: 800;line-height: 130%;letter-spacing: -0.5px;}
.serviceGroup .titleGroup .lg span{background-image: linear-gradient(0deg, #0083CA 0%, #0083CA 50%, #BCBCBC 50.1%);background-position: 100% 0;background-size: 100% 200%;color: transparent;background-clip: text;-webkit-background-clip: text;background-repeat: no-repeat;transition: all 0.5s cubic-bezier(.4,0,.2,1);}
.serviceGroup.active .titleGroup .lg span{background-position: 100% 100%}
.serviceSwiper{display: flex;align-items: center;}
.serviceGallery{position: relative;width: 700px;padding: 200px;box-sizing: border-box;}

.serviceGallery .serviceGallerySwiper{border-radius: 50%;overflow: hidden;}
.serviceGallery .serviceGallerySwiper img{width: 100%;}
.serviceGallery .swiper-button-prev, .serviceGallery .swiper-button-next{left: -50px;width: 100px;height: 100px;background-color: #FFF;background-image: url(../images/main/icon_right_blue.svg);background-position: center;background-repeat: no-repeat;border: 1px solid #0083CA;border-radius: 100%;box-sizing: border-box;overflow: hidden;text-indent: -9999px;white-space: nowrap;transform: rotate(180deg);}
.serviceGallery .swiper-button-next{left: auto;right: -50px;transform: rotate(0deg);}
.serviceInfo{}
.serviceInfo .pagination{display: flex;gap: 48px;}
.serviceInfo .pagination button{position: relative; color: #555;font-size: 22px;font-weight: 500;line-height: 150%;}
.serviceInfo .pagination button.active{}
.serviceInfo .pagination button.active:before{content: "";position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
    background: #000;
    border-radius: 50%;
    z-index: -1;
   }
.serviceInfo .pagination button.active:after{content: "";position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
    background: #0083CA;
    border-radius: 50%;
    z-index: 1;
    mix-blend-mode: difference;}
.serviceInfo .serviceInfoSwiper{}
.serviceInfo .serviceInfoSwiper .lg{}
.serviceInfo .serviceInfoSwiper .sm{}
.serviceInfo .serviceInfoSwiper .tag{}
.serviceInfo .serviceInfoSwiper .tag span{}

.introduceGroup{display: flex;justify-content: space-between;align-items: center;flex-direction: row;flex-wrap: wrap;width: 100%;max-width: 1480px;height: 100vh;margin: 0 auto;padding: 100px 20px 0;box-sizing: border-box;}
.introduceGroup .titleGroup{position: relative;display: flex;flex-direction: column;flex-wrap: wrap;align-items: flex-start;gap: 30px;}
.introduceGroup .titleGroup .en{position: absolute;top: -55px;left: 60px;color: #EEE;font-size: 96px;font-weight: 700;line-height: 100%;letter-spacing: -0.2px;text-transform: uppercase;font-family: "Saira", sans-serif;z-index: 0;}
.introduceGroup .titleGroup .sm{position: relative;color: #24ADBB;font-size: 22px;font-weight: 700;line-height: 100%;}
.introduceGroup .titleGroup .lg{position: relative;color: #222;font-size: 48px;font-weight: 700;line-height: 130%;}
.introduceGroup .titleGroup .md{position: relative;color: #555;font-size: 20px;font-weight: 400;line-height: 100%;}
.introduceGroup .titleGroup .btnMore{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;gap: 9px;padding: 13px 25px;border-radius: 30px;background: #2E40E3;color: #FFF;font-size: 15px;font-weight: 700;line-height: 100%;}
.introduceGroup .titleGroup .btnMore:after{content: "";display: block;width: 17px;height: 17px;background-image: url(../images/main/icon_more.svg);background-position: center;background-repeat: no-repeat;}
.introduceGroup .imgGroup{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;align-items: flex-start;width: calc(100% - 600px);gap: 40px;}
.introduceGroup .imgGroup img{width: calc(50% - 20px);border-radius: 100px 0;box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.10);}
.introduceGroup .imgGroup img:nth-child(2){margin-top: 50px;}

#section3{position: relative;background-image: url(../images/main/bg_section3.jpg);background-position: center bottom;background-size: cover;background-repeat: no-repeat;height: 100vh;box-sizing: border-box;}
.productGroup{display: flex;justify-content: center;align-items: flex-start;flex-direction: column;flex-wrap: nowrap;gap: 70px;width: 100%;max-width: 1480px;height: 100vh;margin: 0 auto;padding: 100px 20px 0;box-sizing: border-box;}
.productGroup .titleGroup{position: relative;display: flex;flex-direction: column;flex-wrap: wrap;align-items: flex-start;gap: 20px;}
.productGroup .titleGroup .en{position: absolute;top: -55px;left: 60px;color: #EEE;font-size: 96px;font-weight: 700;line-height: 100%;letter-spacing: -0.2px;text-transform: uppercase;font-family: "Saira", sans-serif;z-index: 0;}
.productGroup .titleGroup .sm{position: relative;color: #24ADBB;font-size: 22px;font-weight: 700;line-height: 100%;}
.productGroup .titleGroup .lg{position: relative;color: #222;font-size: 48px;font-weight: 700;line-height: 130%;}
.productGroup .titleGroup .btnMore{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;gap: 9px;padding: 13px 25px;border-radius: 30px;background: #2E40E3;color: #FFF;font-size: 15px;font-weight: 700;line-height: 100%;}
.productGroup .titleGroup .btnMore:after{content: "";display: block;width: 17px;height: 17px;background-image: url(../images/main/icon_more.svg);background-position: center;background-repeat: no-repeat;}
.productGroup .imgGroup{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: center;gap: 45px;width: 100%;}
.productGroup .imgGroup img{width: calc(33.33% - 30px);border-radius: 50px 0;box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.10);}

#section4{position: relative;background-image: url(../images/main/bg_section4.jpg);background-position: center top;background-size: cover;background-repeat: no-repeat;height: 100vh;box-sizing: border-box;}
.managementGroup{display: flex;justify-content: flex-end;align-items: flex-start;flex-direction: column;flex-wrap: nowrap;gap: 100px;width: 100%;height: 100vh;padding: 100px 0 0;margin: 0 auto;box-sizing: border-box;}
.managementGroup .titleGroup{position: relative;display: flex;flex-direction: column;flex-wrap: wrap;align-items: flex-start;gap: 20px;width: 100%;max-width: 1480px;margin: 0 auto;padding: 0 20px;box-sizing: border-box;}
.managementGroup .titleGroup .en{position: absolute;top: -55px;left: 60px;color: #EEE;font-size: 96px;font-weight: 700;line-height: 100%;letter-spacing: -0.2px;text-transform: uppercase;font-family: "Saira", sans-serif;z-index: 0;}
.managementGroup .titleGroup .sm{position: relative;color: #24ADBB;font-size: 22px;font-weight: 700;line-height: 100%;}
.managementGroup .titleGroup .lg{position: relative;color: #222;font-size: 48px;font-weight: 700;line-height: 130%;}
.managementGroup .titleGroup .btnMore{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;gap: 9px;padding: 13px 25px;border-radius: 30px;background: #2E40E3;color: #FFF;font-size: 15px;font-weight: 700;line-height: 100%;}
.managementGroup .titleGroup .btnMore:after{content: "";display: block;width: 17px;height: 17px;background-image: url(../images/main/icon_more.svg);background-position: center;background-repeat: no-repeat;}
.managementGroup .imgGroup{width: 100%;height: 50vh;overflow: hidden;}
.managementGroup .imgGroup img{width: 100%;height: 100%;object-fit: cover;}
#section4.ani .managementGroup .imgGroup img{animation: zoomAni 2s 0.5s both;}

/* popup */
.popup-container {overflow: hidden;border-radius: 5px;min-width:200px;}
.popup-container img {vertical-align: bottom;margin: 0 auto;}
.popup-container ul {margin-top: 0;padding: 10px;background-color: #000;display: flex;}
.popup-container ul li {cursor: pointer;width: 50%;color: #fff;text-align: center;font-weight: 500;font-size: 14px;}
.popup-container ul li + li {border-left: 1px solid #fff;}

@media screen and (max-height: 800px){

    .introduceGroup, .productGroup{height: 100%;padding: 100px 20px;}
    .managementGroup{height: 100%;}

}

@media screen and (max-width: 1649px){

    #fp-nav{display: none !important;}

}

@media screen and (max-width: 1499px){

    .visualSwiper .visualText{left: 0;gap: 10px;}
    .visualSwiper .visualText p{font-size: 20px;}
    .visualSwiper .visualText p.delay{font-size: 60px;}
    .visualControl{/* left: 0; *//* gap: 15px; */}
    .visualControl .pagination{font-size: 18px;}
    .scrolldown{right: 60px;bottom: 60px;}

    .introduceGroup .imgGroup{gap: 30px;}
    .introduceGroup .imgGroup img{width: calc(50% - 15px);}
    .productGroup .imgGroup{gap: 30px;}
    .productGroup .imgGroup img{width: calc(33.33% - 20px);}
    
}

@media screen and (max-width: 1199px){

    #section2,
    #section2 .fp-tableCell,
    .fp-scrollable{height: auto !important;}
    .introduceGroup{justify-content: space-evenly;gap: 40px;height: 100%;padding: 100px 20px;}
    .introduceGroup .titleGroup {gap: 20px;}
    .introduceGroup .titleGroup .en{top: -33px;left: 50px;font-size: 60px;}
    .introduceGroup .titleGroup .sm{font-size: 18px;}
    .introduceGroup .titleGroup .lg{font-size: 30px;}
    .introduceGroup .titleGroup .md{font-size: 18px;}
    .introduceGroup .titleGroup .btnMore{font-size: 14px;}
    .introduceGroup .imgGroup{width: 500px;gap: 20px;}
    .introduceGroup .imgGroup img{width: calc(50% - 10px);border-radius: 60px 0;}

    #section3,
    #section3 .fp-tableCell{height: auto !important;background-size: 1200px auto;}
    .productGroup{gap: 50px;height: 100%;padding: 100px 20px;}
    .productGroup .titleGroup .en{top: -33px;left: 50px;font-size: 60px;}
    .productGroup .titleGroup .sm{font-size: 18px;}
    .productGroup .titleGroup .lg{font-size: 30px;}
    .productGroup .titleGroup .btnMore{font-size: 14px;}

    #section4,
    #section4 .fp-tableCell{height: auto !important;background-size: 1200px auto;}
    .managementGroup{height: 100%;gap: 50px;}
    .managementGroup .titleGroup .en{top: -33px;left: 100px;font-size: 60px;}
    .managementGroup .titleGroup .sm{font-size: 18px;}
    .managementGroup .titleGroup .lg{font-size: 30px;}
    .managementGroup .titleGroup .btnMore{font-size: 14px;}
    .managementGroup .imgGroup{height: 350px;}

}

@media screen and (max-width: 767px){

    .visualSwiper{min-height: 500px;}
    .visualSwiper .visualText{bottom: 49%;}
    .visualSwiper .visualText p{font-size: 16px;}
    .visualSwiper .visualText p.delay{font-size: 32px;}
    .visualControl{bottom: 43%;gap: 10px;}
    .visualControl .progressBar{width: 120px;}
    .visualControl .pagination{font-size: 14px;}
    .visualSwiper .visualBg{height: 100%;min-height: 500px;}
    .scrolldown{right: 20px;bottom: 20px;width: 100px;height: 100px;}
    .scrolldown:after{width: 12px;height: 25px;background-size: 100%;}

    #section2{background-position: 90% center;}
    .introduceGroup{justify-content: space-between;gap: 30px;padding: 100px 20px 50px;}
    .introduceGroup .titleGroup {gap: 20px;}
    .introduceGroup .titleGroup .en{top: -18px;font-size: 40px;}
    .introduceGroup .titleGroup .sm{font-size: 16px;}
    .introduceGroup .titleGroup .lg{font-size: 24px;}
    .introduceGroup .titleGroup .md{font-size: 16px;}
    .introduceGroup .titleGroup .btnMore{padding: 10px 22px;font-size: 13px;}
    .introduceGroup .imgGroup{width: 100%;}
    .introduceGroup .imgGroup img{width: calc(50% - 10px);border-radius: 40px 0;box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.10);}
    .introduceGroup .imgGroup img:nth-child(2){margin-top: 30px;}

    #section3{background-size: 800px auto;}
    .productGroup{gap: 30px;padding: 100px 20px 50px;}
    .productGroup .titleGroup .en{top: -18px;font-size: 40px;}
    .productGroup .titleGroup .sm{font-size: 16px;}
    .productGroup .titleGroup .lg{font-size: 24px;}
    .productGroup .titleGroup .btnMore{padding: 10px 22px;font-size: 13px;}
    .productGroup .imgGroup{flex-direction: column;gap: 20px;max-width: 500px;}
    .productGroup .imgGroup img{width: 100%;border-radius: 40px 0;box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.10);}

    #section4{background-size: 800px auto;}
    .managementGroup{gap: 30px;padding: 80px 0 0;}
    .managementGroup .titleGroup .en{top: -18px;left: 60px;font-size: 40px;}
    .managementGroup .titleGroup .sm{font-size: 16px;}
    .managementGroup .titleGroup .lg{font-size: 24px;}
    .managementGroup .titleGroup .btnMore{padding: 10px 22px;font-size: 13px;}
    .managementGroup .imgGroup{height: 200px;}

}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@-webkit-keyframes zoomAni {
    0%{
        opacity: 0;
        transform: scale(1.15);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes zoomAni {
    0%{
        opacity: 0;
        transform: scale(1.15);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}