#sub{position: relative;width: 100%;min-height: 600px;overflow: hidden;}
#subVisual{position: relative;display: flex;align-items: center;justify-content: center;height: 690px;box-sizing: border-box;z-index: 50;}
#subVisual .visualbg{width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: -10;overflow: hidden;} 
#subVisual .visualbg:before{content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;width: 100%;height: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;transform: scale(1.2);transform-origin: center center;animation: scale 2s 0.5s forwards;}
#subVisual .visualbg.bg01:before{background-image: url(../images/sub/bg_subVisual01.jpg);}
#subVisual .visualbg.bg02:before{background-image: url(../images/sub/bg_subVisual02.jpg);}
#subVisual .visualbg.bg03:before{background-image: url(../images/sub/bg_subVisual03.jpg);}
#subVisual .visualbg.bg04:before{background-image: url(../images/sub/bg_subVisual04.jpg);}
#subVisual h2{color:#FFF;font-size: 72px;font-weight: 800;line-height: 150%;letter-spacing: -0.5px;text-align: center;}
.snbList{position: absolute;bottom: 0;width: 100%;padding: 0 8%;box-sizing: border-box;}
.snbList ul{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;align-items: center;width: 100%;background: #0083CA;border-radius: 24px 24px 0 0;overflow: hidden;}
.snbList ul li{position: relative;flex: 1 0;}
.snbList ul li + li:before{content: "";position: absolute;top: 50%;left: 0;width: 1px;height: 20px;margin-top: -10px;background: rgba(255, 255, 255, 0.30);}
.snbList ul li a{display: flex;align-items: center;justify-content: center;height: 78px;color: rgba(255, 255, 255, 0.60);font-size: 20px;font-weight: 600;line-height: 120%;text-align: center;}
.snbList ul li.active + li:before{display: none;}
.snbList ul li.active a{border-radius: 24px 24px 0 0;background: #FFF;color: #0083CA;font-weight: 700;}

.subContents .inner{width: 100%;padding: 0 8%;box-sizing: border-box;}
.subContents .breadcrumb{display: flex;justify-content: flex-end;gap: 8px;margin: 64px 0 80px;}
.subContents .breadcrumb li{display: flex;align-items: center;}
.subContents .breadcrumb li:first-child:before{content: "";display: block;width: 20px;height: 20px;background-image: url(../images/sub/icon_home.svg);background-position: center;background-size: cover;background-repeat: no-repeat;overflow: hidden;vertical-align: middle;}
.subContents .breadcrumb li + li:before{content: "";display: block;width: 4px;height: 4px;margin-right: 4px;border-radius: 100%;background: #888;}
.subContents .breadcrumb li:last-child:before{background: #0083CA;}
.subContents .breadcrumb li a{color: #888;font-size: 15px;font-weight: 500;line-height: 150%;}
.subContents .breadcrumb li:last-child a{color: #0083CA;}
.subTitle{padding-bottom: 64px;border-bottom: 1px solid #DDD;box-sizing: border-box;}
.subTitle h3{color: #333;font-size: 60px;font-weight: 800;line-height: 130%;letter-spacing: -0.5px;text-align: center;}

.boardWrap{padding: 60px 0 120px;box-sizing: border-box;}
.boardHeader{position: relative;margin-bottom: 32px;}
.searchGroup{display: flex;align-items: center;flex-direction: row;flex-wrap: wrap;justify-content: flex-end;}
.searchGroup select{padding: 0 36px 0 16px;background-image: url(../images/layout/icon_select.svg);background-size: 20px 20px;background-position: calc(100% - 16px) center;background-repeat: no-repeat;border: 1px solid #DDD;border-radius: 60px;font-size: 16px;color: #555;font-weight: 600;line-height: normal;}
.searchGroup select.sm{width: 132px;height: 56px;}
.searchGroup select.md{width: 210px;height: 56px;}
.searchGroup select + select{margin-left: 8px;}
.searchGroup .searchInput{width: 240px;height: 56px;padding: 0 16px;margin-left: 16px;border-bottom: 1px solid #333;box-sizing: border-box;font-size: 16px;color: #333;font-weight: 400;line-height: normal;}
.searchGroup .searchInput::placeholder{color: #BCBCBC;}
.searchGroup .btnSearch{display: flex;justify-content: center;align-items: center;gap: 8px;width: 112px;height: 56px;margin-left: 8px;background: #333;border-radius: 60px;font-size: 16px;color: #FFF;font-weight: 700;line-height: normal;text-align: center;}
.searchGroup .btnSearch:after{content: "";display: inline-block;width: 28px;height: 28px;background-image: url(../images/sub/icon_search.svg);background-position: center;background-size: cover;background-repeat: no-repeat;overflow: hidden;vertical-align: middle;}
.tableboardList{width: 100%;border-top: 2px solid #333;border-spacing: 0;border-collapse: separate;box-sizing: border-box;}
.tableboardList thead tr:last-child > * {border-bottom: 1px solid #DDD;}
.tableboardList th, .tableboardList td {padding: 15px 10px;font-size: 18px;line-height: 150%;text-align: center;box-sizing: border-box;}
.tableboardList th {height: 90px;position: relative;background: #f9f9f9;color: #333;font-weight: 700;}
.tableboardList td {height: 126px;border-bottom: 1px solid #DDD;color: #888;font-weight: 400;letter-spacing: -0.5px;}
.tableboardList td.subject{text-align: left;}
.tableboardList td.subject a{color: #333;font-size: 20px;font-weight: 400;line-height: 150%;text-align: left;-webkit-transition: .3s;transition: .3s;}
.tableboardList td.subject a:hover{color: #0083CA;text-decoration-line: underline;}
.noticeLabel{display: inline-block;padding: 10px 16px;border-radius: 20px;background: #0083CA;box-sizing: border-box;color: #FFF;font-size: 16px;font-weight: 600;line-height: 100%;text-align: center;vertical-align: middle;}
.btnFlie{display: inline-block;vertical-align: middle;}
.iconFlie{display: block;width: 28px;height: 28px;margin: 0 auto;background-image: url(../images/sub/icon_file.svg);background-position: center;background-size: cover;background-repeat: no-repeat;overflow: hidden;vertical-align: middle;}
.paging {margin-top: 80px;text-align: center;font-size: 0;}
.paging a, .paging strong{display: inline-block;width: 60px;height: 60px;line-height: 60px;margin: 0 4px;border-radius: 100%;box-sizing: border-box;color: #111;font-size: 15px;font-weight: 500;vertical-align: middle;text-decoration: none;z-index: 10;}
.paging strong{background: #0083CA;color: #FFF;font-weight: 700;}
.paging #page_prev, .paging #page_next{background-color: #FFF;background-image: url(../images/sub/arrow_prev_gray.svg);background-size: 24px 28px;background-position: center;background-repeat: no-repeat;border: 1px solid #DDD;box-sizing: border-box;overflow: hidden;text-indent: -9999px;white-space: nowrap;transition: .3s;-webkit-transition: .3s;}
.paging #page_next{transform: rotate(180deg);}
.paging #page_prev:hover, .paging #page_next:hover{background-image: url(../images/sub/arrow_prev_blue.svg);background-color: #F2F7FD;border-color: #F2F7FD;}

.boardViewHeader{padding: 48px;border-top: 2px solid #333;border-bottom: 1px solid #DDD;box-sizing: border-box;}
.boardViewHeader .title{margin-bottom: 40px;}
.boardViewHeader .title h4{color: #333;font-size: 30px;font-weight: 700;line-height: 130%;word-break: keep-all;}
.boardViewHeader .info{display: flex;align-items: center;gap: 160px;}
.boardViewHeader .info li{display: flex;align-items: center;gap: 32px;}
.boardViewHeader .info li span{color:#333;font-size: 18px;font-weight: 700;line-height: 150%;}
.boardViewHeader .info li span + span{color: #888;font-weight: 400;letter-spacing: -0.5px;}
.fileList{display: flex;align-items: flex-start;padding: 48px;border-bottom: 1px solid #DDD;box-sizing: border-box;gap: 32px;}
.fileList strong{min-width: 65px;display: flex;justify-content: center;align-items: center;box-sizing: border-box;color: #333;font-size: 18px;font-weight: 700;line-height: 150%;}
.fileList ul{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: flex-start;gap: 5px 20px;}
.fileList ul li a{display: flex;box-sizing: border-box;gap: 4px;font-size: 18px;color: #555;font-weight: 400;line-height: 150%;letter-spacing: -0.5px;text-align: left;-webkit-transition: .3s;transition: .3s;align-items: center;}
.fileList ul li a:hover{color: #222;text-decoration: underline;}
.boardViewbody{padding: 48px;box-sizing: border-box;}
.boardNav{border-top: 1px solid #DDD;border-bottom: 1px solid #DDD;box-sizing: border-box;}
.boardNav li{display: flex;align-items: center;justify-content: flex-start;flex-direction: row;flex-wrap: nowrap;}
.boardNav li + li{border-top: 1px solid #DDD;}
.boardNav li p{display: flex;align-items: center;justify-content: center;width: 142px;background-color: #F1F1F1;color: #333;font-size: 18px;font-weight: 400;line-height: 75px;vertical-align: middle;}
.boardNav li a{position: relative;width: calc(100% - 142px);padding-left: 32px;box-sizing: border-box;color: #888;font-size: 18px;font-weight: 400;line-height: 75px;letter-spacing: -0.5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;vertical-align: middle;}
.boardNav li a:hover{color: #333;text-decoration: underline;}
.btnList{display: flex;justify-content: center;margin-top: 80px;}
.btnList a{display: flex;justify-content: center;align-items: center;gap: 8px;width: 320px;height: 58px;padding: 16px 24px;border-radius: 50px;background-color: #0083CA;box-sizing: border-box;color: #FFF;font-size: 18px;font-weight: 600;transition: .3s;-webkit-transition: .3s;}
.btnList a:after{content: "";display: inline-block;width: 20px;height: 20px;background-image: url(../images/main/icon_more.svg);background-size: cover;background-position: center;background-repeat: no-repeat;overflow: hidden;vertical-align: middle;}
.btnList a:hover{background: #006faa;}

@media screen and (max-width: 1920px){

	#sub{min-height: 31.2500vw;}
	#subVisual{height: 35.9375vw;}
	#subVisual h2{font-size: 3.7500vw;letter-spacing: -0.0260vw;}
	.snbList{padding: 0 5%;}
	.snbList ul{border-radius: 1.2500vw 1.2500vw 0 0;}
	.snbList ul li + li:before{width: 0.0521vw;height: 1.0417vw;margin-top: -0.5208vw;}
	.snbList ul li a{height: 4.0625vw;font-size: 1.0417vw;}
	.snbList ul li.active a{border-radius: 1.2500vw 1.2500vw 0 0;}

	.subContents .inner{padding: 0 5%;}
	.subContents .breadcrumb{gap: 0.4167vw;margin: 3.3333vw 0 4.1667vw;}
	.subContents .breadcrumb li:first-child:before{width: 1.0417vw;height: 1.0417vw;}
	.subContents .breadcrumb li + li:before{width: 0.2083vw;height: 0.2083vw;margin-right: 0.2083vw;}
	.subContents .breadcrumb li a{font-size: 0.7813vw;}
	.subTitle{padding-bottom: 3.3333vw;}
	.subTitle h3{font-size: 3.1250vw;letter-spacing: -0.0260vw;}

	.boardWrap{padding: 3.1250vw 0 6.2500vw;}
	.boardHeader{margin-bottom: 1.6667vw;}
	.searchGroup select{padding: 0 1.8750vw 0 0.8333vw;background-size: 1.0417vw 1.0417vw;background-position: calc(100% - 0.8333vw) center;border-radius: 3.1250vw;font-size: 0.8333vw;}
	.searchGroup select.sm{width: 6.8750vw;height: 2.9167vw;}
	.searchGroup select.md{width: 10.9375vw;height: 2.9167vw;}
	.searchGroup select + select{margin-left: 0.4167vw;}
	.searchGroup .searchInput{width: 12.5000vw;height: 2.9167vw;padding: 0 0.8333vw;margin-left: 0.8333vw;font-size: 0.8333vw;}
	.searchGroup .btnSearch{gap: 0.4167vw;width: 5.8333vw;height: 2.9167vw;margin-left: 0.4167vw;border-radius: 3.1250vw;font-size: 0.8333vw;}
	.searchGroup .btnSearch:after{width: 1.4583vw;height: 1.4583vw;}
	.tableboardList th, .tableboardList td {padding: 0.7813vw 0.5208vw;font-size: 0.9375vw;}
	.tableboardList th {height: 4.6875vw;}
	.tableboardList td {height: 6.5625vw;letter-spacing: -0.0260vw;}
	.tableboardList td.subject a{font-size: 1.0417vw;}
	.noticeLabel{padding: 0.5208vw 0.8333vw;border-radius: 1.0417vw;font-size: 0.8333vw;}
	.iconFlie{width: 1.4583vw;height: 1.4583vw;}
	.paging {margin-top: 4.1667vw;}
	.paging a, .paging strong{width: 3.1250vw;height: 3.1250vw;line-height: 3.1250vw;margin: 0 0.2083vw;font-size: 0.7813vw;}
	.paging #page_prev, .paging #page_next{background-size: 1.2500vw 1.4583vw;}

	.boardViewHeader{padding: 2.5000vw;}
	.boardViewHeader .title{margin-bottom: 2.0833vw;}
	.boardViewHeader .title h4{font-size: 1.5625vw;}
	.boardViewHeader .info{gap: 8.3333vw;}
	.boardViewHeader .info li{gap: 1.6667vw;}
	.boardViewHeader .info li span{font-size: 0.9375vw;}
	.boardViewHeader .info li span + span{letter-spacing: -0.0260vw;}
	.fileList{padding: 2.5000vw;gap: 1.6667vw;}
	.fileList strong{min-width: 3.3854vw;font-size: 0.9375vw;}
	.fileList ul{gap: 0.2604vw 1.0417vw;}
	.fileList ul li a{gap: 0.2083vw;font-size: 0.9375vw;letter-spacing: -0.0260vw;}
	.boardViewbody{padding: 2.5000vw;}
	.boardNav li p{width: 7.3958vw;font-size: 0.9375vw;line-height: 3.9063vw;}
	.boardNav li a{width: calc(100% - 7.3958vw);padding-left: 1.6667vw;font-size: 0.9375vw;line-height: 3.9063vw;letter-spacing: -0.0260vw;}
	.btnList{margin-top: 4.1667vw;}
	.btnList a{gap: 0.4167vw;width: 16.6667vw;height: 3.0208vw;padding: 0.8333vw 1.2500vw;border-radius: 2.6042vw;font-size: 0.9375vw;}
	.btnList a:after{width: 1.0417vw;height: 1.0417vw;}

}

@media screen and (max-width: 1199px){

	/* #subVisual{height: 360px;}
	#subVisual .visualbg.bg01:before{background-image: url(../images/sub/bg_subVisual01_m.jpg);}
	#subVisual .visualbg.bg02:before{background-image: url(../images/sub/bg_subVisual02_m.jpg);}
	#subVisual .visualbg.bg03:before{background-image: url(../images/sub/bg_subVisual03_m.jpg);}
	#subVisual .visualbg.bg04:before{background-image: url(../images/sub/bg_subVisual04_m.jpg);}
	#subVisual h2{font-size: 42px;letter-spacing: -0.5px;}
	.snbList{display: none;}
	.subContents .inner{padding: 0 5%;}
	.subContents .breadcrumb{gap: 8px;margin: 48px 0 24px;justify-content: center;}
	.subContents .breadcrumb li:first-child:before{width: 16px;height: 16px;}
	.subContents .breadcrumb li + li:before{width: 3px;height: 3px;margin-right: 4px;}
	.subContents .breadcrumb li a{font-size: 12px;}
	.subTitle{padding-bottom: 24px;}
	.subTitle h3{font-size: 36px;letter-spacing: 0;}
	.boardWrap{padding: 40px 0 60px;}
	.boardHeader{margin-bottom: 32px;}
	.searchGroup select{padding: 0 36px 0 16px;background-size: 20px 20px;background-position: calc(100% - 16px) center;border-radius: 40px;font-size: 16px;}
	.searchGroup select.sm{width: 100%;height: 40px;}
	.searchGroup select.md{width: calc(50% - 4px);height: 40px;}
	.searchGroup select + select{margin-left: 8px;}
	.searchGroup .searchInput{width: calc(100% - 116px);height: 40px;padding: 0 16px;margin-left: 0;margin-top: 16px;font-size: 14px;}
	.searchGroup .btnSearch{gap: 8px;width: 100px;height: 40px;margin-left: 16px;margin-top: 16px;border-radius: 40px;font-size: 16px;}
	.searchGroup .btnSearch:after{width: 22px;height: 22px;}
	.tableboardList colgroup,
    .tableboardList thead{display: none;}
    .tableboardList .mNone{display: none;}
    .tableboardList tr{position: relative;display: block;padding: 16px;border-bottom: 1px solid #DDD;box-sizing: border-box;}
    .tableboardList td{position: relative;display: inline-block;height: auto;padding: 0;border-bottom: 0;font-size: 14px;vertical-align: middle;}
    .tableboardList td.subject{display: block;}
	.tableboardList td.subject a{font-size: 16px;}
    .tableboardList td.mInline{line-height: 24px;}
    .tableboardList td.mInline + td.mInline{margin-left: 5px;padding-left: 10px;}
	.tableboardList td.mInline + td.mInline:before{content: "";position: absolute;left: 0;top: 50%;display: block;width: 1px;height: 12px;margin-top: -6px;background-color: #DDD;}
	.iconFlie{width: 24px;height: 24px;}
	.paging {margin-top: 32px;}
	.paging a, .paging strong{width: 36px;height: 36px;line-height: 36px;margin: 0 4px;font-size: 14px;}
	.paging #page_prev, .paging #page_next{background-size: 18px 18px;} */

	#subVisual{height: 92.3077vw;}
	#subVisual .visualbg.bg01:before{background-image: url(../images/sub/bg_subVisual01_m.jpg);}
	#subVisual .visualbg.bg02:before{background-image: url(../images/sub/bg_subVisual02_m.jpg);}
	#subVisual .visualbg.bg03:before{background-image: url(../images/sub/bg_subVisual03_m.jpg);}
	#subVisual .visualbg.bg04:before{background-image: url(../images/sub/bg_subVisual04_m.jpg);}
	#subVisual h2{font-size: 10.7692vw;letter-spacing: -0.1282vw;}
	.snbList{display: none;}
	.subContents .inner{padding: 0 5%;}
	.subContents .breadcrumb{gap: 2.0513vw;margin: 12.3077vw 0 6.1538vw;justify-content: center;}
	.subContents .breadcrumb li:first-child:before{width: 4.1026vw;height: 4.1026vw;}
	.subContents .breadcrumb li + li:before{width: 0.7692vw;height: 0.7692vw;margin-right: 1.0256vw;}
	.subContents .breadcrumb li a{font-size: 3.0769vw;}
	.subTitle{padding-bottom: 6.1538vw;}
	.subTitle h3{font-size: 9.2308vw;letter-spacing: 0;}
	.boardWrap{padding: 10.2564vw 0 15.3846vw;}
	.boardHeader{margin-bottom: 8.2051vw;}
	.searchGroup select{padding: 0 9.2308vw 0 4.1026vw;background-size: 5.1282vw 5.1282vw;background-position: calc(100% - 4.1026vw) center;border-radius: 10.2564vw;font-size: 4.1026vw;}
	.searchGroup select.sm{width: 100%;height: 10.2564vw;}
	.searchGroup select.md{width: calc(50% - 1.0256vw);height: 10.2564vw;}
	.searchGroup select + select{margin-left: 2.0513vw;}
	.searchGroup .searchInput{width: calc(100% - 29.7436vw);height: 10.2564vw;padding: 0 4.1026vw;margin-left: 0;margin-top: 4.1026vw;font-size: 3.5897vw;}
	.searchGroup .btnSearch{gap: 2.0513vw;width: 25.6410vw;height: 10.2564vw;margin-left: 4.1026vw;margin-top: 4.1026vw;border-radius: 10.2564vw;font-size: 4.1026vw;}
	.searchGroup .btnSearch:after{width: 5.6410vw;height: 5.6410vw;}
	.tableboardList colgroup,
    .tableboardList thead{display: none;}
    .tableboardList .mNone{display: none;}
    .tableboardList tr{position: relative;display: block;padding: 4.1026vw;border-bottom: 0.2564vw solid #DDD;box-sizing: border-box;}
    .tableboardList td{position: relative;display: inline-block;height: auto;padding: 0;border-bottom: 0;font-size: 3.5897vw;vertical-align: middle;}
    .tableboardList td.subject{display: block;}
	.tableboardList td.subject a{font-size: 4.1026vw;}
    .tableboardList td.mInline{line-height: 6.1538vw;}
    .tableboardList td.mInline + td.mInline{margin-left: 1.2821vw;padding-left: 2.5641vw;}
	.tableboardList td.mInline + td.mInline:before{content: "";position: absolute;left: 0;top: 50%;display: block;width: 0.2564vw;height: 3.0769vw;margin-top: -1.5385vw;background-color: #DDD;}
	.iconFlie{width: 6.1538vw;height: 6.1538vw;}
	.paging {margin-top: 8.2051vw;}
	.paging a, .paging strong{width: 9.2308vw;height: 9.2308vw;line-height: 9.2308vw;margin: 0 1.0256vw;font-size: 3.5897vw;}
	.paging #page_prev, .paging #page_next{background-size: 4.6154vw 4.6154vw;}

	/* .boardViewHeader{padding: 16px;}
	.boardViewHeader .title{margin-bottom: 16px;}
	.boardViewHeader .title h4{font-size: 24px;}
	.boardViewHeader .info{gap: 24px;}
	.boardViewHeader .info li{gap: 8px;}
	.boardViewHeader .info li span{font-size: 14px;}
	.boardViewHeader .info li span + span{letter-spacing: 0;}
	.fileList{padding: 16px;gap: 8px;}
	.fileList strong{min-width: 50px;font-size: 14px;}
	.fileList ul{gap: 10px;}
	.fileList ul li a{gap: 4px;font-size: 14px;letter-spacing: 0;}
	.boardViewbody{padding: 16px;}
	.boardNav li p{width: 100px;font-size: 14px;line-height: 50px;}
	.boardNav li a{width: calc(100% - 100px);padding-left: 24px;font-size: 14px;line-height: 50px;letter-spacing: 0;}
	.btnList{margin-top: 32px;}
	.btnList a{gap: 8px;width: 100%;height: 56px;padding: 16px;border-radius: 60px;font-size: 16px;}
	.btnList a:after{width: 20px;height: 20px;} */

	.boardViewHeader{padding: 4.1026vw;}
	.boardViewHeader .title{margin-bottom: 4.1026vw;}
	.boardViewHeader .title h4{font-size: 6.1538vw;}
	.boardViewHeader .info{gap: 6.1538vw;}
	.boardViewHeader .info li{gap: 2.0513vw;}
	.boardViewHeader .info li span{font-size: 3.5897vw;}
	.boardViewHeader .info li span + span{letter-spacing: 0;}
	.fileList{padding: 4.1026vw;gap: 2.0513vw;}
	.fileList strong{min-width: 12.8205vw;font-size: 3.5897vw;}
	.fileList ul{gap: 2.5641vw;}
	.fileList ul li a{gap: 1.0256vw;font-size: 3.5897vw;letter-spacing: 0;}
	.boardViewbody{padding: 4.1026vw;}
	.boardNav li p{width: 25.6410vw;font-size: 3.5897vw;line-height: 12.8205vw;}
	.boardNav li a{width: calc(100% - 25.6410vw);padding-left: 6.1538vw;font-size: 3.5897vw;line-height: 12.8205vw;letter-spacing: 0;}
	.btnList{margin-top: 8.2051vw;}
	.btnList a{gap: 2.0513vw;width: 100%;height: 14.3590vw;padding: 4.1026vw;border-radius: 15.3846vw;font-size: 4.1026vw;}
	.btnList a:after{width: 5.1282vw;height: 5.1282vw;}

}

@media screen and (max-width: 767px){


}

@-webkit-keyframes scale{ 
	0% {transform: scale(1.2);}
	100% {transform: scale(1);}
}
@keyframes scale{ 
	0% {transform: scale(1.2);}
	100% {transform: scale(1);}
}